* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    font-family: Arial;
    /* padding: 20px;  */

}



.shell {
    /* background-color: #6c6c6c4a; */
    display: flex;
    justify-content: space-between;

    align-items: center;

    padding: 20px;
}


.lista {
    background-color: rgb(255, 255, 255);
    /* display: flex;
    flex-direction: column; */

    /* align-items: center; */
}



.newitem button {
    background-color: #1ac5c8;
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.newitem button:hover {
    background-color: #16a5a8;
}

.shell2 {
    display: flex;
    justify-content: space-between;


    padding: 0 20px 20px 20px;

    align-items: center;
}

/* .search {} */

.search input {
    width: 250px;
    border: 1px solid #d1d5db;

    border-radius: 6px;

    padding: 10px;
    outline: none;
}


.paginacao button {
    background-color: white;

    border: 1px solid #d1d5db;

    padding: 8px 12px;

    border-radius: 5px;

    margin-left: 5px;
    cursor: pointer;

}


.paginacao button:hover {
    background-color: #f3f4f6;
}



.table-container {

    background-color: white;

    padding: 20px;

    border-radius: 12px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;

    border-radius: 10px;

    overflow: hidden;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

th,
td {
    padding: 14px 18px;

    text-align: left;

    border-bottom: 1px solid #e5e7eb;
}

td {
    max-width: 250px;
}


th {
    background-color: #f0f0f0;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;

}



tr:nth-child(even) {
    background-color: #f9fafb;
    /* tom de cor bem safado, melhora a leitura taaaao sutilmente */
}


tbody tr:hover {
    background-color: #f3f4f6;
}


.modal {

    display: none;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;
}

.modal-content {

    background-color: white;

    padding: 30px;

    border-radius: 10px;

    width: 400px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.fechar {

    font-size: 28px;

    cursor: pointer;

    align-self: flex-end;
}

.modal-content input {

    padding: 10px;

    border: 1px solid #ccc;

    border-radius: 5px;
}

#cod,
#data {
    cursor: not-allowed;
}
